.main .main-top .fenlei a{
    color:black;
}
.main .main-middle{
    width:62.4%;
    height:100%;
    background:#B7B7B7;
    border:1px solid red;
    margin:0 auto;
}
.main-middle .mm-l #jiaju{
    font-size:0.6em;
    line-height: 0.5em;
    margin-top:1em;
}
.main-middle .mm-l #bm{
     font-size:0.4em;
    line-height: 0.5em;
     margin:0.8em 0;
    
}
.main-middle .mm-l #jg{
     font-size:0.6em;
    line-height: 0.5em;
    margin:0.8em 0;
    color:#F63C30;
}
.main-middle .mm-l #vipj i{
    color:#DDDDDD;
    font-size:0.5em;
    background:#483D8B;
    border:1px solid #483D8B;
    
}
.main-middle .mm-l #vipj a{
    font-size:0.4em;
    color:red;
    text-decoration: none;
}
.main-middle .mm-l #vipj1 i{
    color:#DDDDDD;
    font-size:0.5em;
    background:#483D8B;
    border:1px solid #483D8B;
}
.main-middle .mm-l #vipj1 a{
    color:black;
    font-size:0.5em;
}


.main-middle .mm-l ul li{    
       float:left;
               
    }
                